* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    color: #222;

    display: flex;
    flex-direction: column;
}

header {
    background: #0059ff;
    padding: 25px;
    color: white;
    text-align: center;
}

main {
    flex: 1;               
    text-align: center;
    padding: 40px 20px;
}

button {
    background: #0078ff;
    padding: 12px 22px;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background: #005ad6;
}

footer {
    background: #e5e5e5;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}
